.agency-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 0.01em;
    color: #111430;
}
.agency-description{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.005em;
    color: #000000;

}
.hireUs-btn{
    width: 170px;
    height: 45px;
    left: 135px;
    background: #111430;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}