
.sidebar li{
    position: relative;
    width: 85px;
    height: 24px;
    left: 0px;
    top: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
}
.sidebar li{
    margin-bottom: 10px;
 }

.sidebar svg{
    margin-right: 10px;
}