
.sidebar li{
   margin-bottom: 10px;
}
.sidebar li{
    position: absolute;
    width: 85px;
    height: 24px;
    left: 0px;
    top: 0px;
    margin-bottom:150px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
}

.sidebar svg{
    margin-right: 10px;
}