
.sidebar li{
    margin-bottom: 10px;
 }

.sidebar svg{
    margin-right: 10px;
}

.icon-links{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.icon-links:hover{
    color: #009444;
}

.nav-menu{
    background-color: #ffffff;
    width:250px;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.nav-text{
    display: flex;
    justify-content:start;
    align-items: center;
    padding:8px 0 8px 16px;
    height: 35px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;

}

.nav-text a{
    text-decoration: none;
    color: #111111;
    font-size:18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding:0 16px;
    border-radius:4px;
}

.nav-text a:hover{
     color: #009444;
}
.nav-menu-items{
    width: 100%;
    margin-left: 40px;
    margin-top:25px;
}
.nav-text span{
    margin-left: 16px;
}