.our-works-container{
    background: #111430;
    height: 724px;
    overflow: hidden;
}
.carousel{
    position: absolute;
    width: 497.2px;
    height: 373.21px;
    left: 627.93px;
    top: 1795.55px
    background-color:#fffff;
}
  .carousel-img{
   
  } 
  