.our-works-container{
    background: #111430;
    height: 724px;
    overflow: hidden;
}
.carousel{
    position: absolute;
    width: 497.2px;
    height: 373.21px;
    left:268px;
    top: 100px;
    background-color:#fff;
    border:none;
    border-radius: 8px;
}
  .carousel-img{
   
  } 
  