.our-works-container{
    background: #111430;
    height: 724px;
    overflow: hidden;
}
.carousel-img{
    height: 360.56px;
    background: url(../../../images/carousel-1.png);
    background-size:cover;
    background-repeat: no-repeat;
} 
  