.button__bar {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    padding: 0;
    border-radius: 40px;
    text-align: center;
    margin-top: 50px;
  }
  
  .button__bar li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
  }
  
  .button__bar li button {
    border: none;
    background: #242A65;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
  }
  
  .button__bar li.slick-active button {
    background-color: #FBD062;
  }
  
  .button__bar li button:hover,
  .button__bar li button:focus {
    background: #FBD062;
    outline: 0;
  }
  
  .slick-slide img {
    border: 5px solid #fff;
    display: block;
    margin: auto;
  }

  .slick-slide div {
    outline: none;
   }
   .slick-slide *:focus{
    outline: none;
  }
  .slick-slide > div {
    margin: 0 10px;
  }

  img{
    object-fit: cover;
  }