.footer-section{
    background: #FBD062;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.form-group input{
    width: 630px;
    height: 70px;
    border-radius: 4px;
}
.form-group textarea{
    width: 630px;
    height: 277px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
}