.done-label label{
    position: relative;
    width: 210px;
    height: 55px;
    right: 30px;
    background: #E5F3FF;
    border: 1px solid #009444;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #009444;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}